
.card-container{
    margin: auto;
    background-color: #1D3D39;
    display: flex;
    flex-flow: inherit;
    height: 100vh;
    place-content: center;
}
.image-left{
    flex: 0 0 50%;
    background-image: url('src/assets/cofrinho-lateral-com-moedas-e-notas.jpg');
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
}
.imagem-logo{
  width: 280px;
  height: 210px;
  background-size: contain;
  background-position: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('src/assets/logo3.png');
}
.card-right{
    flex: 0 0 50%;
    align-self: center;
    text-align: -webkit-center;
}
.login-form {
  width: 70%;
  padding: 1em;
  position: relative;
  background: rgba(black, .15);
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
  flex-flow: column;
  text-align: left;
}

.flex-row span {
  color: #8A6734;
  margin-top: 10px;
  font-weight: bold;
}

app-input{
  width: 100% !important;
}

.app-input-error{
  border: solid 2px #8A6734;
}