
<mat-card class="card-container">
  <div mat-card-image class="image-left"></div>
  <mat-card-content class="card-right">
    <mat-card-content>
    <div mat-card-image class="imagem-logo"></div>
    <form class="login-form">
      <div class="flex-row">
        <app-input [id]="'email'" [placeholder]="'Digite seu e-mail'" [type]="'email'"/>
      </div>
      <div class="flex-row">
        <app-input [id]="'senha'" [placeholder]="'Digite sua senha'" [type]="'password'"/>
      </div>
      <app-button [id]="'login'" [valor]="'Entrar'" >Login</app-button>
    </form>
    </mat-card-content>
  </mat-card-content>
</mat-card>

